# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
*.mo
*.pot
.env
.venv/
env/
venv/
ENV/

# Django specific
db.sqlite3
*.log
local_settings.py
media/

# Node / React / Vite
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env
.npm

# IDE / OS
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
